
body {
    background-color: black;
    min-height: 100%;
}



#header {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 20px 10px;
    color: white;
    /* height: 10%; */

}

#story {
    width: 100%;
}

.header_left{
    width: 50%;
    display: flex;
}

.header_title {
    font-weight: bold;
    font-size: 1.8em;
    margin: unset;
    font-family:   monospace;
}

#story{
    display: flex;
    justify-content: space-between;
    color: white;

}

#story .logo{
    /* border: 1px palevioletred dashed; */
   width: 22%;
    height: 25%;
}

#story .logo .src_logo{
    object-fit: contain;
    width: 100%;
    height: 100%;
    /* border-radius: 70%; */
}

#story .logo .id_user{
overflow:hidden;
font-size: 0.8em;
margin: unset;
text-align: center;
}

#logo_border{
    border:2px red solid;
    /* border-radius: 50%; */
    border-image-outset:3rem;
    border-radius: 70%;
}

#post{
    /* height: 400px; */
}

.header_post{
    height: 50px;
    margin-top: 10px;
}

.header_left_post{
    display: flex;
    justify-content: flex-start;
    margin: 5px;
    float: left;
}

.header_post img{
    height: 35px;
    border-radius: 48%;
}

.header_post .certif{
    height: 15px;
    margin-top: 13px;
}

.header_post p{
    color: white;
    margin: 10px;
}

.header_post_dot{
    float: right;
    margin: 18px 10px 0px 0px;
}

.body_post{
    width: 100%;
}

.body_post img{
    width: 100%;
}

.header_footer_post{
    margin-top: 10px;
    height: 21px;
}


.icons{
    display: flex;
    justify-content: flex-start;
    float: left;

}

.header_footer_post .save {
    float: right;
}

.like_post{
    height: 46px;
}

.like_post img{
    float: left;
    height: 20px;
    margin: 13px 5px 0px 5px;
}

.like_post p {
    float: left;
    color: white;
    font-size: 0.9em;
}

.txt_post{
    /* display: flex;
    justify-content: flex-start; */
    color: white;
    font-size: 0.9em;
    height: 50px;

}
.username{
    float: left;

}
.plusTxt{
    color: gray;
    float: right;
    margin:-31px 39px 0px 0px;
}
.comm_post{
        height: 20px;

}
.comm_post p{
    color: gray;
    font-size: 0.9em;
}

footer{
    height: 75px;
    display: flex;
    justify-content: space-between;
}

footer img{
    height: 35px;
    color: white;
}